name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  build-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.5"
          coverage: none

      - name: Authenticate Composer to GitHub Packages
        run: |
          composer config --global github-oauth.github.com "${{ secrets.GITHUB_TOKEN }}"
          composer config repositories.github '{"type": "composer", "url": "https://repo.packagist.org"}'

      - name: Install dependencies
        run: composer install --no-interaction --no-progress

      - name: Publish package
        run: composer publish --no-interaction
